.fullback {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}
* {
    font-family: 'Open Sans', sans-serif;
}
.post{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EEE;
}
.tweetContainer {
    position: absolute;
    top: 30px;
    left: 20px;
    min-height: 400px;
    background-color: #FFF;
    bottom: 30px;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .75);
    -ms-filter: "alpha(Opacity=70)";
    filter: alpha(opacity=95);
    -moz-opacity: .95;
    -khtml-opacity: .95;
    opacity: .95;
    overflow:auto;
    x-overflow: hidden;
}
.tweetContainer:hover {
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}
.cluster {
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 0 2px #000;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000
}
.cluster-1 {
    background: url(/images/m1.png) no-repeat;
    line-height: 50px;
    width: 50px;
    height: 40px
}
.cluster-2 {
    background: url(/images/m2.png) no-repeat;
    line-height: 53px;
    width: 60px;
    height: 48px
}
.cluster-3 {
    background: url(/images/m3.png) no-repeat;
    line-height: 66px;
    width: 70px;
    height: 56px
}
